@use '../abstracts/index' as a;
@use  '../basics/index' as b;

header{
  width: 100%;
  height: 15vh;
  @include a.flex(row, left);
  padding: a.toRem(10) a.toRem(30);
  h1{
    @include b.text-title(60);
  }
}

@media (max-width: 768px) {
  header{
    h1{
    @include b.text-title(30);
    }
  }
}